
* { box-sizing: border-box; }

#playground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 768px;
  width: 1024px;
  background-color: white;
  border: thin solid gray;
}

#hat {}

.head {
  border: thin solid;
  border-radius: 10em;
  height: 400px;
  width: 300px;
  background-color: #fad377 ;
position: relative;
top: 20px;
left: 380px;
}
.hat2

#right-ear {
border: thin solid;
  border-radius: 6em;
  height: 110px;
  width: 60px;
  position: relative;
  top: 350px;
  left: 340px;
  background-color: #fcc5fc ;
}
  #left-ear {
    border: thin solid;
    border-radius: 6em;
    height: 110px;
    width: 60px;
    position: relative;
    top: 239px;
    left: 660px;
    background-color: #fcc5fc ;



  }


.ear {}
#right-eye {}

.eye {}

.pupil {}

  #left-eye {}

    .pupil {}


#nose {}


#moustache {}



#right-shoe {}


.shoe {}


#left-shoe {}

.shoe {}
